<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a [routerLink]="['home']"> <i class="fa fa-dashboard fa-fw fa-1x"></i> Home</a>
            </li>
            <li>
                <a [routerLink]="['blankpage']"> <i class="fa fa-dashboard fa-fw fa-1x"></i> Blank</a>
            </li>
            <li>
                <a [routerLink]="['components']"> <i class="fa fa-dashboard fa-fw fa-1x"></i>Component</a>
                
            </li>
        </ul>
    </div>
</div>